{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "cypress",
    "mocha",
    "react",
    "react-hooks",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:cypress/recommended",
    "plugin:mocha/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "mocha/no-mocha-arrows": 0,
    "mocha/no-hooks-for-single-case": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
