{
  "extends": ["stylelint-config-sass-guidelines"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "string-quotes": "double",
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "order/properties-alphabetical-order": null
  }
}
