{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "string-quotes": "double",
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$"
  }
}
