{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "string-quotes": "double",
    "color-hex-case": "upper",
    "color-hex-length": "long"
  }
}
